
.designer_list {
    background-color: rgb(239, 240, 239);
    text-align: center;
}
.designer_profile {
    display: inline-block;
    padding: 30px;
}

#designer_pic {
    font-size: 10rem;
    cursor: pointer;
}

.search_bar {
    padding-left: 80%;
}

.search_text {
    border-radius: 10px;
}

.search {
    position:relative
    color: #000;
}
.search_btn {
    cursor: pointer;
}

h2 {
    text-align: center;
}