<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../css/selectTypeEnroll.css">
    <title>회원가입 유형선택</title>
</head>
<body>
    <div id="content">
        <h1>퍼핏에 오신것을 환영합니다</h1>
        <div id="select">
            <div id="type">
                <div id="type-box">

                </div>
                <div id="type-text">
                    <p>가입유형을 선택해주세요</p>
                </div>
            </div>
            <div id="text">
                <pre>
                    보다 쉬운 가입절차를 위하여,
                    고객님께서 해당하시는 회원종류를 선택하실 수 있습니다.
                </pre>
            </div>
        </div>
        <div id="select-box">
            <div id="user-box">
                <div class="img-box">
                    <img src="" alt="">
                </div>
                <div class="text-box">
                    <p>일반회원</p>
                </div>
                <div class="content-box">
                    <p class="pre">
                        일반상품 구매와 커스텀상품<br> 
                        상담을 원하시는 회원
                    </p>
                </div>
                <a href="/user/enrollPage">
                    <div class="button">
                        <p>가입하기</p>
                    </div>
                </a>
            </div>
            <div id="designer-box">
                <div class="img-box">
                    <img src="" alt="">
                </div>
                <div class="text-box">
                    <p>디자이너</p>
                </div>
                <div class="content-box">
                    <p class="pre">
                        일반고객님들과 소통하여<br> 
                        나만의 상품 제작하기
                    </p>
                </div>
                <a href="/designer/enrollPage">
                    <div class="button">
                        <p>가입하기</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>