@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");
* {
  font-family: "Black Han Sans", sans-serif;
}
body {
  margin: 0;
}

#alarm_btn:hover {
  animation: swing ease-in-out 0.5s infinite alternate;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.navbar_menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 rgba(224, 216, 216, 0.527), 0 1px rgb(15, 15, 15),
    1px 0 rgba(54, 53, 53, 0.548), 0 -1px rgba(0, 0, 0, 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a5dfd3;
  padding: 8px 12px;
}

.navbar_logo {
  cursor: pointer;
  width: 130px;
  height: 50px;
  background-image: url(../public/image/pufitLofo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar_icons {
  list-style: none;
  color: black;
  display: flex;
  padding-left: 0;
  margin: 0px;
}

.navbar_icons li {
  cursor: pointer;
  padding: 8px 12px 5px 12px;
  font-size: 20px;
  color: #fff;
  text-shadow: -1px 0 rgb(224 216 216 / 53%), 0 1px rgb(15 15 15),
    1px 0 rgb(54 53 53 / 55%), 0 -1px rgb(0 0 0 / 0%);
}

.navbar_icons li:hover {
  animation: swing ease-in-out 0.5s infinite alternate;
}
.navbar_menu li:hover {
  /* background-color: rgb(224, 216, 216); */
  border-radius: 10px;
  transform: scale(1.1);
}

@media screen and (min-width: 820px) {
  .navbar_menu {
    width: 70%;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0px;
  }

  .navbar_menu li {
    padding: 8px 12px;
    font-size: 20px;
    width: inherit;
    text-align: center;
    transition: transform 0.3s;
  }

  #navbar_toogleBtn {
    display: none;
  }

  .navbar_menu_side {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .navbar_icons {
    font-size: 20px;
  }
  .navbar_menu {
    display: none;
  }

  #navbar_toogleBtn {
    display: block;
    background-color: #ceece5;
    border-radius: 10px;
    cursor: pointer;
  }

  .navbar_side {
    display: block;
    width: 100%;
    height: 0px;
    background-color: #ceece5;
    position: absolute;
    top: 66px;
    overflow: hidden;
    transition: height 0.3s;
  }

  .active {
    height: 250px;
  }
  .navbar_menu_side {
    width: 100%;
    display: inline-grid;
    list-style: none;
    padding-left: 0;
    margin: 0px;
  }

  .navbar_menu_side li {
    padding: 12px 0px;
    font-size: 20px;
    border-bottom: 1px solid #a5dfd3;
    width: inherit;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .navbar_menu_side li:hover {
    background-color: #a5dfd3;
  }
  .navbar_menu_side a {
    color: rgb(44, 42, 42);
    text-decoration: none;
  }
}
