@charset "UTF-8";

body, html{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    
    font-family: 'Jua', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}
a:active{
    color:black;
}
a:visited{
    color:black;
}

#content{
    width:100%;
    height:100%;
    position:relative;
}

    .mypage-main{
        width:1200px;
        height:600px;
        background-color:honeydew;
        border : 1px solid rgb(216, 230, 216);
        position:absolute;
        left:50%;
        transform:translateX(-50%);
    }

    .sidebar{

        
        float:left;
        margin-top:50px;
    }
    .page-content{
        width:900px;
        height:100%;
        
        float:left;
    }

    .side{
        width:270px;
        height:250px;
        margin:0px;
        padding:0px;
        background-color:white;
        margin-left:30px;
    }
    .menu{
        width:100%;
        height:50px;
        margin:0px;
        padding:0px;
        background-color:white;
        border : 1px solid rgb(179, 211, 0);
        box-sizing: border-box;
    
    }

    .menu:hover{
        background-color:rgb(241, 238, 228);
        color:rgb(0, 0, 0);
    }

    .menu>p{
        padding:0px;
        margin : 0px;
        font-size:17px;
        line-height:50px;
        margin-left:30px;
        font-family: 'Jua', sans-serif;
    }

    #menu-bar{
        color:white;
        background-color:rgb(216, 230, 216);
        font-size:18px;
    }
    .main-content{
        width:840px;
        height:500px;
        border : 1px solid rgb(179, 211, 0);
        margin-left:30px;
        margin-top:50px;
        background-color:white;
    }
        .div-information{
            width:800px;
            height:50px;
            border-bottom : 2px solid rgb(25, 0, 69);
            margin-left:20px;
            margin-top:20px;
        }
        .div-information>p{
            font-size:20px;
            line-height:55px;
            margin:0px;
            padding:0px;
            margin-left:20px;
            margin-bottom:10px;
        }
    
    form>div>p{
        
        float:left;
    }

    #content-bar{
        text-align: center;
        width:500px;
        height:50px;
        margin-left:220px;
    }
    #pw-div{
        width:100%;
        height:50px;
        display:block;
        
    }

    #pw-bar{
        width:200px;
        height:25px;
        margin-top:10px;
        padding-left:5px;
        border : 2px solid rgb(95, 95, 95);
        font-size:16px;
        color:lightslategray;
        border-radius: 3px;
        margin-left:320px;
    }
    #pw-bar::placeholder{
        font-family: 'Jua', sans-serif;
        font-size:14px;
        line-height: 25px;
    }

    

    fieldset{
        margin:0px;
        padding:0px;
        margin-top : 40px;
    }
    .user-inquiry{
        width:200px;
    }
    .inquiry-input{
        width:200px;
        height:25px;
        margin-top:10px;
        padding-left:5px;
        border : 2px solid rgb(202, 202, 202);
        font-size:16px;
        color:lightslategray;
        border-radius: 3px;
    }

    .remove-button{
        width:100px;
        height:40px;
        background-color:rgb(154, 255, 154);
        border-radius: 5px;
        border: 0;
        font-family: 'Jua', sans-serif;
        margin-left:370px;
        margin-top:30px;
    }
    .remove-button:hover{
        background-color:rgb(0, 165, 148);
        color:white;
    }