@charset "UTF-8";

body, html{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    font-family: 'Noto Sans KR', sans-serif;
}
#content{
    width:100%;
    height:100%;
    position:relative;
}
    h1{
        text-align: center;
        margin-bottom:50px;
        margin-left:60px;
    }

#select{
    width:800px;
    height:80px;
    position:relative;
    left:260px;
}
    #type{
        width:100%;
        height:35%;
    }
        #type-box{
            width:13px;
            height:100%;
            background-color:red;
            float:left;
        }
        #type-text{
            width:500px;
            height:100%;
            float:left;
        }
            #type-text>p{
                margin:0;
                padding:0;
                font-size:22px;
                margin-left: 10px;
                font-weight: bold;
                line-height:30px;

            }
    #text{
        width:100%;
        height:65%;
    }
        #text>pre{
            margin:0px;
            padding:0px;
            font-family: 'Noto Sans KR', sans-serif;
            position:relative;
            left:-35px;
            font-size:13.5px;
            top:10px;
        }
    #select-box{
        width:1000px;
        height:400px;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        margin-top:50px;
    }
        #user-box{
            width:400px;
            height:400px;
            float:left;
            border : 2px solid lightgray;
            box-sizing: border-box;
            margin-left:80px;
            border-radius: 20px;
        }
            #user-box:hover{
                border:2px solid rgb(88, 253, 253);
            }
        #designer-box{
            width:400px;
            height:400px;
            float:left;
            margin-left:120px;
            border : 2px solid lightgray;
            box-sizing: border-box;
            border-radius: 20px;
        }
            #designer-box:hover{
                border:2px solid rgb(88, 253, 253);
            }
        .img-box{
            width:120px;
            height:120px;
            margin-left:140px;
            margin-top:50px;
            background-color:powderblue;
        }
        .text-box{
            width:200px;
            margin-left:100px;
            text-align: center;
            font-size:18px;
            font-weight: bold;
        }
        .button{
            width:120px;
            height:40px;
            margin-left:140px;
            background-color:rgb(88, 253, 253);
            text-align: center;
            line-height: 40px;
            border-radius: 4px;
        }
            .button:hover{
                background-color : rgb(0, 172, 172);
                color:white;
            }
            a{
                text-decoration: none;
                font-size:13px;
                font-weight: bold;
            }
        .pre{
            text-align: center;
            font-size:14px;
        }