@charset "UTF-8";
body, html{
    margin:0px;
    padding:0px;
    width:100%;
    
    font-family: 'Jua', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}
a:active{
    color:black;
}
a:visited{
    color:black;
}


#content{
    width:100%;
    position:relative;
}

    .mypage-main{
        width:1200px;
        height:900px;
        background-color:honeydew;
        border : 1px solid rgb(216, 230, 216);
        position:absolute;
        left:50%;
        transform:translateX(-50%);
    }

    .sidebar{
        width:300px;
        height:800px;
        
        float:left;
        margin-top:50px;
    }
    .page-content{
        width:900px;
        height:100%;
        
        float:left;
    }

    .side{
        width:270px;
        height:250px;
        margin:0px;
        padding:0px;
        background-color:white;
        margin-left:30px;
    }
    .menu{
        width:100%;
        height:50px;
        margin:0px;
        padding:0px;
        background-color:white;
        border : 1px solid rgb(179, 211, 0);
        box-sizing: border-box;
    
    }

    .menu:hover{
        background-color:rgb(241, 238, 228);
        color:rgb(0, 0, 0);
    }

    .menu>p{
        padding:0px;
        margin : 0px;
        font-size:17px;
        line-height:50px;
        margin-left:30px;
        font-family: 'Jua', sans-serif;
    }

    #menu-bar{
        color:white;
        background-color:rgb(216, 230, 216);
        font-size:18px;
    }
    .main-content{
        width:840px;
        
        border : 1px solid rgb(179, 211, 0);
        margin-left:30px;
        margin-top:50px;
        background-color:white;
    }
        .div-information{
            width:800px;
            height:50px;
            border-bottom : 2px solid rgb(25, 0, 69);
            margin-left:20px;
            margin-top:20px;
        }
        .div-information>p{
            font-size:20px;
            line-height:55px;
            margin:0px;
            padding:0px;
            margin-left:20px;
            margin-bottom:10px;
        }

    #div-wish{
        width:800px;
        height:100%;
        margin-left:20px;
        padding-bottom:30px;
        overflow:hidden;
    }
        .wish-box{
            width:170px;
            height:240px;
            float:left;
            margin-left:24px;
            margin-top:40px;
            position:relative;
        }

    .img-box{
        width:100%;
        height:200px;
        background-color:gainsboro;
    }
    .name-box{
        width:100%;
        height:40px;
        padding-top:5px;
    }

        .name-box>p{
            margin:0px;
            padding:0px;
            text-align: center;
            font-size:12px;
        }


      .sect02 {
        position: absolute;
        width: 15px; /* X 사이즈 */
        height: 15px; /* X 세로 중앙 */
        margin: 0 auto; /* 가운데 정렬 */
        bottom:215px;
        left:150px;
      }
      
      .sect02 .line-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
      
      .sect02 .line-box > span {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: rgb(128, 128, 128);
      }
      
      .sect02 .line-01 {
        transform: rotate(135deg) translateX(0%);
      }
      
      .sect02 .line-02 {
        transform: rotate(45deg) translateX(0%);
      }

    .wish-box:hover{
        box-shadow: 1px 2px 1px 1px lightgray;
    }